.grid-photo {
  margin: 0 2rem 2rem 2rem;
  padding: 2rem;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.03);
  position: absolute;
  float: left;
  max-width: 450px;
  max-height: 400px;
}

.container  {
  text-align: center;
}

button, .button{
  border: 2px solid lighten(grey, 90%);
  background: none;
  flex-basis: 48%;
  display: inline-block;
  line-height: 2;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  color: blue;
  box-sizing: padding-box;
    border-color: blue;
    outline: 0;
  }

  .comments{
    float: right;
  }
