
.container-single  {
  text-align: center;
  display: block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 150px;
  float: left;
}

button, .button{
  border: 2px solid lighten(grey, 90%);
  background: none;
  flex-basis: 48%;
  display: inline-block;
  line-height: 2;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  color: blue;
  box-sizing: padding-box;
    border-color: blue;
    outline: 0;
  }

  .comments{
    float: right;
    display: block;
  }
